ul.features{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;

  &.filterApplied{
    li{
      div.inner {
        &:hover{
        }
      }
    }

    $filters:
            develop_rapidly,
            develop_simply,
            any_complexity,
            any_amount_of_data,
            any_number_of_users,
            any_infrastructure,
            trust_the_system,
            manage_the_system,
            communicate_with_the_system,
            own_the_system,
            extend_the_system,
            scale_the_system;

    @each $filter in $filters {
      &.#{$filter} {
        .#{$filter} {
          div.inner {
            background: #7DE2FF;
            &:hover {
              background: #7DE2FF;
            }
          }
        }
      }
    }

  }

  li{
    flex: 0 0 100%;
    padding: 0 0 20px;
    @media (min-width: $mobileWidth) {
      flex: 0 0 50%;
      padding: 0 10px 20px;
    }


    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    & > div.inner{
      background: #F7FBFC;
      transition: background-color 0.3s;
      border-radius: 6px;
      padding: 20px;
      flex: 0 0 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      &:hover{
        background-color: #E1F7FE;
      }
      h2{
        font-size: 16px;
        font-weight: 700;
        line-height: 32px;
        margin: 0 0 20px 0;
        padding: 0 0 0 42px;
        em{
          font-style: normal;
          color: #26C4F7;
        }
      }
      p{
        margin: 0 0 20px 0;
      }
      @media (min-width: $mobileWidth) {
        position: relative;
        padding-bottom: 40px;
      }
      nav {
        @media (min-width: $mobileWidth) {
          position: absolute;
          bottom: 20px;
        }
        //align-self: flex-end;
        a {
          display: inline-block;
          margin-right: 20px;
          position: relative;
          padding: 0 12px 0 0;
          background: url(../imgs/bullet.svg) no-repeat right 2px top 8px;
          &:hover{
            background-image: url(../imgs/bullet-active.svg)
          }
        }
      }
    }

    $features:
            single-language,
            single-paradigm,
            server-to-client-access,
            no-orm-yes-sql,
            data-change-events,
            dynamic-physical-model,
            constraints-on-any-data,
            absolute-reactivity,
            cross-platform-server,
            open-database-structure,
            cross-platform-client,
            declarative-handling-of-external-formats,
            efficient-client-server-communication,
            transparent-integration,
            ci-in-acid-right-out-of-the-box,
            seamless-linking-of-java-libraries-sql-functions,
            everything-as-code,
            easy-to-use-language,
            easy-to-use-ide,
            metaprogramming,
            three-tier-architecture,
            clustering,
            extensions,
            asynchrony,
            polymorphism-and-aggregations,
            wysiwyg,
            internationalization,
            retroactive-changes,
            advances-tools-for-administrators,
            advanced-interactive-uis,
            security-policy,
            open-source-code,
            deep-user-customization,
            free-license;
    @each $feature in $features {
      &#feature-#{$feature} {
        h2{
          background: url(../imgs/features/#{$feature}.svg) no-repeat 0 0;
        }
      }
    }
  }
}
nav#features-nav{
  position: fixed;
  top: 116px;
  @extend .noselect;

  @media (min-width: $mobileWidth){
    left: 50%;
    transform: translateX(-50%);
    br{
      display: none;
    }
  }
  @media (max-width: $mobileWidth - 1){
    text-align: center;
    left: 20px;
    right: 20px;
  }


  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 12px 20px 10px;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.95;
  color: #848484;
  strong{
    font-weight: 400;
  }
  & > span,
  & > a{
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-indent: -3000px;
    overflow: hidden;
    vertical-align: bottom;
    &.disabled{
      cursor: default;
    }
  }
  span.close{
    background: url(../imgs/icons/close.svg) no-repeat 50% 50%;
    margin: 0 14px 0 5px;
  }
  a.back{
    background: url(../imgs/icons/back.svg) no-repeat 50% 50%;
    margin: 0 11px 0 0;
  }
  span.prev{
    background: url(../imgs/icons/prev.svg) no-repeat 50% 50%;
    &.disabled{
      background: url(../imgs/icons/prev-disabled.svg) no-repeat 50% 50%;
    }
    margin: 0 13px 0 0;
  }
  span.next{
    background: url(../imgs/icons/next.svg) no-repeat 50% 50%;
    &.disabled{
      background: url(../imgs/icons/next-disabled.svg) no-repeat 50% 50%;
    }
    margin: 0 0 0 13px;
  }
  em{
    font-style: normal;
    span {
      color: #0D0D0D;
    }
  }

}