#homeheader{
  @media (min-width: $mobileWidth) {
    background: #0062BD url(../imgs/home/header_mainbg.svg) no-repeat 50% top;
    background-size: cover;
  }
  @media (max-width: $mobileWidth - 1){
    background: #0062BD url(../imgs/home/header_mainbg_m.svg) no-repeat left bottom;
    background-size: cover;

  }
  @media (min-width: $mobileWidth) {
    min-height: 420px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      right: 0;
      background: transparent url(../imgs/home/header_bg.svg) no-repeat left top;
    }
  }
  @media (max-width: $mobileWidth - 1){
    padding-bottom: 20px;
    &:after {
      content: "";
      display: block;
      width: auto;
      height: 0;
      padding: 63% 0 0 0;
      margin: 0 20px;

      background: transparent url(../imgs/home/header_bg_m.svg) no-repeat left top;

      background-size: 100% 100%;
    }
  }

  div.inner {
    @media (min-width: $siteWidth) {
      width: $siteWidth;
      min-height: 420px;
    }

    margin: 0 auto;
    @media (min-width: $siteWidth){
      padding: 62px 520px 30px 20px;
    }
    @media (min-width: $mobileWidth) and (max-width: $siteWidth - 1){
      padding: 62px 50% 30px 20px;
    }

    @media (max-width: $mobileWidth - 1){
      padding: 62px 20px 30px 20px;
    }
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    h1 {
      font-weight: 500;
      font-size: 35px;
      line-height: 43px;
      margin: 0 0 16px 0;
      color: #fff;
      letter-spacing: 1px;
    }
    p {
      color: #fff;
      font-size: 16px;
      line-height: 22px;
      margin: 0 0 40px 0;
    }
    nav {
      @media (min-width: 481px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      a{
        margin-bottom: 15px;
      }
      a:nth-child(1),
      a:nth-child(2){
        @extend .btn;
        margin-right: 20px;
      }
      a:last-child  {
        @extend .btn-empty;
        margin-right: 0;
      }
      @media (max-width: 479px){
        a {
          display: block;
          margin-bottom: 20px;
          text-align: center;
          min-width: 50%;
          width: 100%;
          margin-right: 0 !important;
          box-sizing: content-box;
        }
      }
    }
  }

}

ul.home-links{
  list-style: none;
  margin: 0 -15px 0 -15px;
  @media (max-width: $mobileWidth - 1){
    margin: 0 -15px 0 -15px;
  }
  @include clearfix;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  & > li{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 15px 30px;
    @media (max-width: $mobileWidth - 1){
      padding: 0 15px 20px;
    }
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    & > .inner{
      flex: 0 0 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 20px 20px;
      transition: background 0.3s;
    }
  }
}

ul.home-links1{
  @extend .home-links;
  margin-bottom: 30px;

  li{
    flex: 0 0 50%;
    @media (max-width: $mobileWidth - 1){
      flex: 0 0 100%;
    }
    & > .inner {
      background: #E1F7FE;
      text-decoration: none;
      border-radius: 4px;
      padding: 18px 30px 22px 30px;
      @media (min-width: 480px){
        padding: 18px 230px 22px 30px;
      }
      strong{
        font-size: 24px;
        margin: 0 0 6px 0;
        line-height: 36px;
        display: block;
        color: #2C2A28;
        font-family: Poppins, "Open Sans";
        font-weight: 600;
      }
      span{
        display: block;
        font-size: 14px;
        line-height: 19px;
        margin: 0;
        color: #596062;
      }
    }
    @media (min-width: 480px) {
      &:nth-child(1) {
        .inner {
          background: #E1F7FE url(../imgs/home/blog_bg1.svg) no-repeat right bottom;
        }
        &:hover .inner{
          background: #7DE2FF url(../imgs/home/blog_bg1-hover.svg) no-repeat right bottom;
        }

      }
      &:nth-child(2) {
        .inner {
          background: #E1F7FE url(../imgs/home/blog_bg2.svg) no-repeat right bottom;
        }
        &:hover .inner{
          background: #7DE2FF url(../imgs/home/blog_bg2-hover.svg) no-repeat right bottom;
        }
      }
    }
  }
}
ul.home-links2{
  @extend .home-links;
  li{
    flex: 0 0 33.33333%;
    @media (max-width: $siteWidth - 1) and (min-width: $mobileWidth){
      flex: 0 0 50%;
    }
    @media (max-width: $mobileWidth - 1){
      flex: 0 0 100%;
    }
    &:nth-child(1){
      h4{
        background: url(../imgs/home/icon1.svg) no-repeat 0 0;
      }
    }
    &:nth-child(2){
      h4{
        background: url(../imgs/home/icon2.svg) no-repeat 0 0;
      }
    }
    &:nth-child(3){
      h4{
        background: url(../imgs/home/icon3.svg) no-repeat 0 0;
      }
    }
    &:nth-child(4){
      h4{
        background: url(../imgs/home/icon4.svg) no-repeat 0 0;
      }
    }
    &:nth-child(5){
      h4{
        background: url(../imgs/home/icon5.svg) no-repeat 0 0;
      }
    }
    &:nth-child(6){
      h4{
        background: url(../imgs/home/icon6.svg) no-repeat 0 0;
      }
    }
    div.inner{
      border: 1px solid #F2F2F2;
      border-radius: 4px;
      padding: 29px 20px 11px;
      h4{
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        margin: 0 0 11px 0;
        color: #2C2A28;
        padding: 0 0 0 50px;
      }
      p{
        color: #848484;
        font-size: 14px;
        line-height: 19px;
      }
    }
  }
}
ul.home-links3{
  &.developer,
  &.administrator,
  &.user,
  &.business{
    li{
      .inner {//disabling style
/*
        strong {
          color: #b7c0c4;
        }
        & > span {
          color: #b7c0c4;
        }
        em,
        & > a{
          color: #b7c0c4;
        }
*/

      }
    }
  }
  &.developer li .inner > span span.developer,
  &.administrator li .inner > span span.administrator,
  &.user li .inner > span span.user,
  &.business li .inner > span span.business {
    color: #596062;
    color: #2C2A28;
    background-color: #7DE2FF;
    a{
      color: #0670BD;
    }

  }

  @extend .home-links;
  li{
    flex: 0 0 50%;
    @media (max-width: $mobileWidth - 1){
      flex: 0 0 100%;
    }
    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        .inner {
          background: #F7FBFC url(../imgs/home/bicon#{$i}.svg) no-repeat right 0px top 0px;
        }
        &:hover .inner{
          //background: #7DE2FF url(../imgs/home/bicon#{$i}-hover.svg) no-repeat right 0px top 0px;
          background-color: #E1F7FE;
        }
      }
    }

    .inner{
      background: #F7FBFC;
      border-radius: 4px;
      text-decoration: none;
      display: block;
      padding: 15px 170px 15px 30px;
      @media (max-width: $mobileWidth - 1){
        padding: 15px 100px 15px 30px;
        background-size: 75px!important;
        background-position: right 10px top 20px !important;
      }
      strong, span, em{
        transition: color .3s, background 0.3s;
      }
      strong{
        display: block;
        font-size: 16px;
        line-height: 22px;
        margin: 0 0 5px 0;
        color: #2C2A28;
        font-weight: 700;
      }
      & > span{
        display: block;
        font-size: 14px;
        line-height: 19px;
        margin: 0 0 3px 0;
        color: #596062;
        font-weight: 400;
      }
      em,
      & > a{
        background: url(../imgs/icons/more-link.svg) no-repeat right 6px;
        padding-right: 20px;
        font-style: normal;
        color: #0E84BC;
        text-decoration: underline;
        font-size: 14px;
        line-height: 19px;
      }
    }
  }
}

ul.home-links4{
  @extend .home-links;
  li{
    flex: 0 0 50%;
    @media (max-width: $mobileWidth - 1){
      flex: 0 0 100%;
    }
    &:nth-child(1){
      .inner{
        background: #26C4F7 url(../imgs/home/more_bg1.svg) no-repeat 20px 22px;
      }
    }
    &:nth-child(2){
      .inner{
        background: #26C4F7 url(../imgs/home/more_bg2.svg) no-repeat 20px 20px;
      }
    }
    .inner{
      display: block;
      padding-left: 72px;
      padding-right: 72px;
      border-radius: 4px;
      text-decoration: none;
      position: relative;
      &:after{
        content: "";
        position: absolute;
        right: 27px;
        top: 46px;
        width: 10px;
        height: 16px;

        background: url(../imgs/icons/more-hor.svg) no-repeat;
      }
      &:hover{
        background-color: #1ba7e6;
      }
      strong{
        font-family: Poppins, Montserrat, "Open Sans";
        color: #fff;
        font-size: 24px;
        line-height: 36px;
        margin: 0 0 3px 0;
        font-weight: 600;
      }
      span{
        display: block;
        color: #fff;
        font-size: 14px;
        line-height: 19px;
      }
    }
  }
}
#home-footer{

  @media (min-width: $mobileWidth) {
    background: #0062BD url(../imgs/home/footer_bg.svg) no-repeat;
  }
  @media (max-width: $mobileWidth - 1){
    background: #0062BD url(../imgs/home/footer_bg_m.svg) no-repeat left bottom;
  }

  border-radius: 4px;
  padding: 30px 30px 0 30px;
  margin: 0 0 30px 0;
  h3{
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin: 0 0 11px 0;
  }
  ul{
    @extend .home-links;
    margin: 0 -10px;
    li{
      flex: 0 0 25%;
      @media (min-width: $mobileWidth) and (max-width: $siteWidth - 1){
        flex: 0 0 50%;
      }
      @media (max-width: $mobileWidth - 1){
        flex: 0 0 100%;
      }
      padding: 0 10px 28px;
      & > .inner{
        border: 1px solid #FFFFFF;
        background: #0062BD;
        border-radius: 4px;
        text-decoration: none;
        &:hover{
          background: #046cc3;
          strong{
            background-image: url(../imgs/icons/tools-hover.svg);

          }
        }
        strong{
          color: #fff;
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          margin: 0 0 0px;
          background: url(../imgs/icons/tools.svg) no-repeat right 50%;
          display: block;
        }
        span{
          color: #fff;
          font-size: 14px;
          line-height: 19px;
        }
      }
    }
  }
}
