ul.support{
  @extend .home-links;
  li{
    flex: 0 0 33.33333%;
    @media (max-width: $siteWidth - 1) and (min-width: $mobileWidth){
      flex: 0 0 50%;
    }
    @media (max-width: $mobileWidth - 1){
      flex: 0 0 100%;
    }

    $supports: telegram, chat, qa, task, blog, news, code, system, email;

    @each $support in $supports {
      &.support-#{$support}{
        div.inner h2{
          background-image: url(../imgs/support/#{$support}.svg);
        }
      }
    }

    div.inner{
      border: 1px solid #F2F2F2;
      border-radius: 4px;
      padding: 29px 20px 11px;
      h2{
        font-size: 16px;
        font-weight: 700;
        line-height: 32px;
        margin: 0 0 20px 0;
        padding: 0 0 0 42px;
        background-repeat: no-repeat;
      }
      p{
        margin: 0 0 20px 0;
      }
    }
  }
}