#try{
  &.database{
    .try-platform{
      display: none;
    }
  }
  &.platform{
    .try-database{
      display: none;
    }
  }
  & > div > p{
    margin: 0 0 30px 0;
  }
}
.tryfeature{

  @include clearfix;
  background: #F1F8FA url(../imgs/try-horisontal.svg) no-repeat 60% 57.5%;
  @media (max-width: $mobileWidth - 1){
    background: #F1F8FA url(../imgs/try-vertical.svg) no-repeat 50% 58%;
  }
  nav{
    background: #0062BD;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 15px 21px;
    @include clearfix;
    .dd{
      @media (min-width: $mobileWidth) {
        float: left;
        width: 47%;
      }
      @media (max-width: $mobileWidth - 1){
        margin: 0 0 20px 0;
      }
      display: block;
      position: relative;
      z-index: 3;
      &.active{
        ul{
          display: block;
        }
        em{
          background-image: url(../imgs/dd-active.svg);
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
      em{
        font-style: normal;
        font-size: 14px;
        border-radius: 4px;
        line-height: 40px;
        padding: 0 20px;
        display: block;
        cursor: pointer;
        color: #2C2A28;
        background: #fff url(../imgs/dd.svg) no-repeat right 10px top 50%;
      }
      ul{
        display: none;
        padding: 10px 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 40px;
        list-style: none;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
        background: #fff;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        font-size: 20px;
        line-height: 30px;
        color: #596062;
        li{
          display: block;
          padding: 0 20px;
          cursor: pointer;
          transition: background-color 0.3s, color 0.3s;
          @media (min-width: $mobileWidth){
            white-space: nowrap;
          }
          &.active{
            background: #E1F7FE;
          }
          &:hover{
            cursor: pointer;
            background: #d8f7ff;
          }
        }
      }
    }
    .buttons{
      @media (min-width: $mobileWidth) {
        float: right;
      }
      @media (max-width: $mobileWidth - 1){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      span, a{
        &.disabled{
          color: #848484 !important;;
          cursor: default;
          border-color: #848484 !important;
        }
        color: #fff;
        float: left;
        width: 120px;
        background-repeat: no-repeat;
        background-position: 25px 50%;
        @media (max-width: $siteWidth){
          width: 110px;
          padding: 0 0 0 45px;
          background-position: 20px 50%;
        }
        @media (max-width: 400px){
          padding: 0 0 0 32px;
          background-position: 7px 50%;
        }
        line-height: 40px;
        border-radius: 4px;
        margin-left: 10px;
        &:first-child{
          margin-left: 0;
        }
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 0 0 50px;
        cursor: pointer;
        text-decoration: none;
        &.open,
        &.stop{
          border: 1px solid #FFFFFF;
          transition: color 0.3s;
          &:hover{
            color: #26C4F7;
          }
        }
        &.open{
          background-image: url(../imgs/open.svg);
          &.disabled{
            background-image: url(../imgs/open-disabled.svg);
          }
        }
        &.stop{
          background-image: url(../imgs/stop.svg);
          &.disabled{
            background-image: url(../imgs/stop-disabled.svg);
          }
        }
        &.start{
          background-color: #26C4F7;
          border: 1px solid #26C4F7;
          background-image: url(../imgs/play.svg);
          &.disabled{
            background-color: grayscale(#efefef) !important;
            background-image: url(../imgs/play-disabled.svg);
          }
          transition: background-color 0.3s;
          &:hover{
            background-color: darken(#26C4F7, 10);
          }
        }
      }
    }
  }
  .code{
    max-height: 340px;
    overflow-y: scroll;


    background: darken(#F7FBFC, 20) ;
    min-height: 340px;
    border: 0;
    outline: none;
    resize: none;

    @media (min-width: $mobileWidth) {
      width: 58.5%;
      float: left;
    }
    @media (max-width: $mobileWidth - 1){
      margin: 0 0 30px 0;
      width: 100%;
    }
    padding: 30px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &.loading{
      background: #F7FBFC url(../imgs/spinner.gif) no-repeat 50% 50%;
      background-size: 50px 50px;
    }
    //TODO: need to add scrolling
  }
  .results{
    max-height: 340px;
    overflow-y: scroll;
    background: #F7FBFC;
    min-height: 340px;
    @media (min-width: $mobileWidth) {
      width: 38.5%;
      float: right;
    }
    padding: 30px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &.loading{
      background: #F7FBFC url(../imgs/spinner.gif) no-repeat 50% 50%;
      background-size: 50px 50px;
    }
  }
}