#try{
  &.database{
    .try-platform{
      display: none;
    }
  }
  &.platform{
    .try-database{
      display: none;
    }
  }
  & > div > p{
    margin: 0 0 30px 0;
    background: #F7FBFC;

    @media (min-width: $mobileWidth){
      margin: 0 0 20px 0;
      float: right;
      width: 38.5%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 20px;
      font-size: 12px;
      line-height: 16px;
      position: relative;
      z-index: 10;
    }
    @media (max-width: $mobileWidth - 1){
      padding-left: 30px;
      padding-right: 30px;
    }

    &.active{
      & > strong{
        background-image: url(../imgs/less.svg);
      }
      & > span{
        max-height: 500px;
        display: block;
        padding-bottom: 14px;

      }
    }
    & > strong{
      display: block;
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      cursor: pointer;
      background: url(../imgs/more.svg) no-repeat right 0 top 50%;
      padding: 14px 0;
    }
    & > span{
      display: block;
      overflow: hidden;
      transition: max-height 0.3s;
      max-height: 0;

    }

  }
}
.tryfeature{
  @include clearfix;
  @media (min-width: $mobileWidth){
    min-height: 405px;
    
  }
  position: relative;

  nav{
    background: #EFF5F7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    @media (min-width: $mobileWidth){
      float: left;
      width: 58.5%;
    }
    @media (max-width: $mobileWidth - 1){
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    padding: 15px 21px;
    @include clearfix;
    .dd{
      @media (min-width: $mobileWidth) {
        width: 50%;
      }
      display: block;
      position: relative;
      z-index: 5;
      &.active{
        ul{
          display: block;
        }
        em{
          background-image: url(../imgs/dd-active.svg);
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
      em{
        font-style: normal;
        font-size: 14px;
        line-height: 40px;
        padding: 0 20px;
        display: block;
        cursor: pointer;
        color: #2C2A28;
        font-weight: 600;
        background: transparent url(../imgs/dd.svg) no-repeat right 10px top 50%;
        border: 1px solid #C1C1C1;
        border-radius: 4px;
      }
      ul{
        display: none;
        padding: 10px 0;
        position: absolute;
        left: 0;
        right: 0;
        @media (min-width: $mobileWidth) {
          right: auto;
        }
        top: 40px;
        list-style: none;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
        background: #fff;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        font-size: 20px;
        line-height: 30px;
        color: #596062;
        li{
          display: block;
          padding: 0 20px;
          cursor: pointer;
          transition: background-color 0.3s, color 0.3s;
          @media (min-width: $mobileWidth){
            white-space: nowrap;
          }
          &.active{
            background: #E1F7FE;
          }
          &:hover{
            cursor: pointer;
            background: #d8f7ff;
          }
        }
      }
    }
    .buttons{
      position: absolute;
      z-index: 1;
      @media (min-width: $mobileWidth) {
        padding: 0 20px 0 0;
        right: 41.5%;
        bottom: 20px;
      }
      @media (max-width: $mobileWidth - 1){
        top: 420px;
        left: 50%;
        transform: translateX(-50%);
      }
      span, a{
        &.disabled{
          display: none;
        }
        color: #fff;
        float: left;
        width: 40px;
        text-indent: -3000px;
        overflow: hidden;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        margin-left: 10px;
        &:first-child{
          margin-left: 0;
        }
        line-height: 40px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        cursor: pointer;
        text-decoration: none;
        &.open,
        &.stop{
          transition: color 0.3s;
          &:hover{
            color: #26C4F7;
          }
        }
        &.open{
          background-color: #26C4F7;
          background-image: url(../imgs/open.svg);
          &.disabled{
            background-image: url(../imgs/open-disabled.svg);
          }
          &:hover {
            background-color: darken(#26C4F7, 10);
          }
        }
        &.stop{
          background-color: #26C4F7;
          background-image: url(../imgs/stop.svg);
          background-size: 12px;
          &.disabled{
            background-image: url(../imgs/stop-disabled.svg);
          }
          &:hover {
            background-color: darken(#26C4F7, 10);
          }
        }
        &.start{
          background-color: #26C4F7;
          background-image: url(../imgs/play-big.svg);
          @media (max-width: $mobileWidth - 1){
            transform: rotate(90deg);
          }
          background-position: 16px 50%;
          &.disabled {
            background-color: grayscale(#efefef) !important;
            background-image: url(../imgs/play-big-disabled.svg);
          }
          &:hover {
            background-color: darken(#26C4F7, 10);
          }

        }
        &.restart{
          background-position: 12px 50%;
          background-image: url(../imgs/restart.svg);
          background-size: 16px 16px;
        }
      }
    }
  }

  .ace_editor {
    min-height: 340px;
    background: #EFF5F7;
    @media (min-width: $mobileWidth) {
      position: absolute;
      bottom: 0;
      left: 0;
      top: 72px;
      width: 58.5%;
    }
    @media (max-width: $mobileWidth - 1) {
      margin: 0 0 60px 0;
      width: 100%;
    }
    & > div {
      @include customScroll;
    }
  }

  .results{
    overflow-y: scroll;
    background: #EFF5F7;
    height: 340px;
    border: 0;
    resize: none;
    outline: none;
    width: 100%;
    @media (min-width: $mobileWidth) {
      width: 38.5%;
      float: right;
      clear: right;
      height: 200px;
      overflow: hidden;
      &:hover{
        overflow: scroll;
      }
    }
    @media (max-width: $mobileWidth - 1){
      height:  340px !important;
    }
    //padding: 30px 20px;
    padding: 0.875rem 0 0 0.875rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &.loading{
      background: #EFF5F7 url(../imgs/spinner.gif) no-repeat 50% 50%;
      background-size: 50px 50px;
    }

    white-space:pre;
    @include customScroll;
  }
}