DirectoryIndex index.html

ErrorDocument 404 /ru/404.html

Redirect 302 /ru/features /ru/features.html
Redirect 302 /ru/compare /ru/compare.html
Redirect 302 /ru/solutions /ru/solutions.html
Redirect 302 /ru/try /ru/try.html
Redirect 302 /ru/report /ru/report.html
Redirect 302 /ru/sitemap /ru/sitemap.html
Redirect 302 /ru/support /ru/support.html

#AddType text/html .html
#AddHandler server-parsed .html
Options Indexes FollowSymLinks Includes
AddHandler server-parsed .html .htm